#weather-view {
    border: solid 1px black;
    display: inline-block;
}

#main-content {
    width: 100%;
}

#main-container {
    width: 100%;
}

.city-btn {
    width: 100%;
    text-align: left;
    background-color: white;
    border-radius: 1px;
    padding: 10px 10px;
}

.city-btn:hover {
    border: solid black 1px;
}

#uv-index {
    padding: 4px;
    color: white;
    background-color: red;
    border-radius: 5px;
} 
    

 #city-column {
     background-color: lightgray;
     padding: 2.5%; 
 }

 #weather-view {
     
     width: 100%;
     padding: 20px 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 5px;
 }

 #weather-view p {
     font-size: larger;
 }

 label {
     font-size: larger;
 }

 #add-city {
     color: white;
     border-radius: 5px;
 }

 #search-div {
     margin-bottom: 10px;
 }

 #forcastDiv {
     padding: 5px 10px 5px 5px;
     border-radius: 5px;
    
 }

 #forcastDiv p {
    color: white;
 }

 #forcastDiv h4 {
     color: white;
 }

 #fiveDay {
     margin-left: 5px;
     display: flex;
     justify-content: space-around;
 }